.each-component {
display: block;
background: #efefef;
margin: 10px 0px;
padding: 10px;
border-radius: 5px;
}

.site-component {
background: #efefef;
}

._admin-component {
background: #ffffef;
}

._user-component {
background: #efffff;
}

.list-container {
position: relative;
display: block;
padding: 20px 0px 0px 0px;
}

.category-display-buttons {
position: absolute;
display: block;
top: 0;
left: 0;
padding: 5px;
border-style: solid;
border-width: 1px;
border-color: #666;
border-radius: 5px;
}

.component-list {
padding: 55px 0px 0px 0px;
}

.each-component-switch {
display: inline-block;
}

.activated {
display: inline-block;
width: 100px;
background: #fff;
color: #ccc;
font-size: 10px;
text-align: center;
line-height: 30px;
cursor: pointer;
}

.disabled {
display: inline-block;
width: 100px;
background: #fff;
color: #ccc;
font-size: 10px;
text-align: center;
line-height: 30px;
cursor: pointer;
}

.highlight {
background: #333;
color: #fff;
}

.install {
}

.each-componet-name {
display: inline-block;
vertical-align: top;
font-weight: bold;
margin: 8px 10px 0px 10px;
}

.each-componet-description {
font-size: 12px;
margin: 10px 0px 0px 0px;
}

.delete-component {
display: inline-block;
vertical-align: top;
margin: 5px 0px 0px 20px;
}

.all-components {
display: none;
}

.site-component {
display: block;
}

.category-display {
margin-bottom: 10px;
}

.category-display.highlight {
background: #999;
color: #fff;
}


/* permissions */

table.permissions-table {
border-collapse: collapse;
margin: 0px 0px 10px 0px;
width: 100%;
}

table.permissions-table, th, td {
border: 1px solid black;
}

table.permissions-table td.empty-cell {
background: #efefef;
}

table.permissions-table td {
padding: 5px 0px;
text-align: center;
}

table.permissions-table td label {
display: block;
width: 100%;
height: 100%;
}